C# (ASP.NET)/ContosoDemoNAV/Web References/ApplicationTenantUser/ApplicationTenantUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/applicationtenantuser" targetNamespace="urn:microsoft-dynamics-schemas/page/applicationtenantuser" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/applicationtenantuser" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Enabled" />
          <xsd:enumeration value="Disabled" />
          <xsd:enumeration value="Draft" />
          <xsd:enumeration value="Provisioning" />
          <xsd:enumeration value="Provisioning_Failed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="License_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Full_User" />
          <xsd:enumeration value="Limited_User" />
          <xsd:enumeration value="Device_Only_User" />
          <xsd:enumeration value="Windows_Group" />
          <xsd:enumeration value="External_User" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApplicationTenantUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Tenant_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Full_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Administrator" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Authentication_Email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact_Email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="License_Type" type="tns:License_Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApplicationTenantUser_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ApplicationTenantUser_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Application_Tenant_ID" />
          <xsd:enumeration value="User_Name" />
          <xsd:enumeration value="Full_Name" />
          <xsd:enumeration value="Administrator" />
          <xsd:enumeration value="Authentication_Email" />
          <xsd:enumeration value="Contact_Email" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="License_Type" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApplicationTenantUser_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ApplicationTenantUser_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ApplicationTenantUser_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ApplicationTenantUser_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser_List" type="tns:ApplicationTenantUser_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser_List" type="tns:ApplicationTenantUser_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser" type="tns:ApplicationTenantUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser_List" type="tns:ApplicationTenantUser_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ApplicationTenantUser_List" type="tns:ApplicationTenantUser_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetPassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="password" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="shouldSendWelcomeEmail" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetPassword_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Remove">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Remove_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="enabled" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetEnabled_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="New">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="shouldSendWelcomeEmail" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="New_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return_value" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MakeAdministrator">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MakeAdministrator_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetContactEmail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationTenantUser" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contactEmail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetContactEmail_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="SetPassword">
    <part name="parameters" element="tns:SetPassword" />
  </message>
  <message name="SetPassword_Result">
    <part name="parameters" element="tns:SetPassword_Result" />
  </message>
  <message name="Remove">
    <part name="parameters" element="tns:Remove" />
  </message>
  <message name="Remove_Result">
    <part name="parameters" element="tns:Remove_Result" />
  </message>
  <message name="SetEnabled">
    <part name="parameters" element="tns:SetEnabled" />
  </message>
  <message name="SetEnabled_Result">
    <part name="parameters" element="tns:SetEnabled_Result" />
  </message>
  <message name="New">
    <part name="parameters" element="tns:New" />
  </message>
  <message name="New_Result">
    <part name="parameters" element="tns:New_Result" />
  </message>
  <message name="MakeAdministrator">
    <part name="parameters" element="tns:MakeAdministrator" />
  </message>
  <message name="MakeAdministrator_Result">
    <part name="parameters" element="tns:MakeAdministrator_Result" />
  </message>
  <message name="SetContactEmail">
    <part name="parameters" element="tns:SetContactEmail" />
  </message>
  <message name="SetContactEmail_Result">
    <part name="parameters" element="tns:SetContactEmail_Result" />
  </message>
  <portType name="ApplicationTenantUser_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="SetPassword">
      <input name="SetPassword" message="tns:SetPassword" />
      <output name="SetPassword_Result" message="tns:SetPassword_Result" />
    </operation>
    <operation name="Remove">
      <input name="Remove" message="tns:Remove" />
      <output name="Remove_Result" message="tns:Remove_Result" />
    </operation>
    <operation name="SetEnabled">
      <input name="SetEnabled" message="tns:SetEnabled" />
      <output name="SetEnabled_Result" message="tns:SetEnabled_Result" />
    </operation>
    <operation name="New">
      <input name="New" message="tns:New" />
      <output name="New_Result" message="tns:New_Result" />
    </operation>
    <operation name="MakeAdministrator">
      <input name="MakeAdministrator" message="tns:MakeAdministrator" />
      <output name="MakeAdministrator_Result" message="tns:MakeAdministrator_Result" />
    </operation>
    <operation name="SetContactEmail">
      <input name="SetContactEmail" message="tns:SetContactEmail" />
      <output name="SetContactEmail_Result" message="tns:SetContactEmail_Result" />
    </operation>
  </portType>
  <binding name="ApplicationTenantUser_Binding" type="tns:ApplicationTenantUser_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:SetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Remove">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:Remove" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Remove">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Remove_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetEnabled">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:SetEnabled" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetEnabled">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetEnabled_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="New">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:New" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="New">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="New_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="MakeAdministrator">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:MakeAdministrator" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="MakeAdministrator">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="MakeAdministrator_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetContactEmail">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/applicationtenantuser:SetContactEmail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetContactEmail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetContactEmail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ApplicationTenantUser_Service">
    <port name="ApplicationTenantUser_Port" binding="tns:ApplicationTenantUser_Binding">
      <address location="https://navmanagementportal.navcloudapptest.net:7047/NAV/WS/MVCompany/Page/ApplicationTenantUser?tenant=mvp" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>